ol, ul {
	list-style: none;
}
nav {
 border-bottom: 1px solid black;
 padding: 20px;
}
.logout-button {
 display: inline-block;
}
nav > * {
  margin: 5px 0;
}
section {
  padding: 20px;
}

.comment-label {
  display: block;
}

.comment-body {
  display: block;
}
